* {
    font-family: sans-serif;
    color: white;
}

body {
  background-color: rgb(24, 24, 24);
  text-align: center;
  padding: 5px;
}

p {
  font-size: 18px;
  margin-top: -10px;
}

a {
  font-size: 18px;
  color: rgb(159, 79, 189);
  text-decoration: none;
}

a:hover {
  color: rgb(209, 156, 228);
  text-decoration: underline;
}

li {
  text-align: left;
}

li#none {
  list-style-type: none;
  content: '❌';
}